
.sheet {
  padding-top: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.04),
    0 0 2px rgba(0, 0, 0, 0.06),
    0 0 1px rgba(0, 0, 0, 0.04);
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.04),
    0 0 2px rgba(0, 0, 0, 0.06),
    0 0 1px rgba(0, 0, 0, 0.04);
}

.sheet__title {
  padding-right: 18px;
  padding-left: 18px;
}

.sheet__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 18px;
  padding-bottom: 15px;
  padding-left: 18px;
}

.title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  color: #000000;
}

.title--big {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
}

.title--small {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.counter__button {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.counter__button--minus {
  background-color: #f2eef5;
}

.counter__button--minus::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8px;
  height: 1px;
  content: "";
  background-color: #b3abbc;
}

.counter__button--minus:hover:not(:active):not(:disabled) {
  background-color: #f6ebff;
}

.counter__button--minus:active:not(:disabled) {
  background-color: #ebdcf7;
}

.counter__button--minus:focus:not(:disabled) {
  -webkit-box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
  box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
}

.counter__button--minus:disabled {
  cursor: default;
}

.counter__button--minus:disabled::before {
  opacity: 0.1;
}

.counter__button--plus {
  background-color: #41b619;
}

.counter__button--plus::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8px;
  height: 1px;
  content: "";
  background-color: #ffffff;
}

.counter__button--plus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1px;
  height: 8px;
  content: "";
  background-color: #ffffff;
}

.counter__button--plus:hover:not(:active):not(:disabled) {
  background-color: #48d618;
}

.counter__button--plus:active:not(:disabled) {
  background-color: #38a413;
}

.counter__button--plus:focus:not(:disabled) {
  -webkit-box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
  box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
}

.counter__button--plus:disabled {
  cursor: default;
  opacity: 0.3;
}

.counter__button--orange {
  background-color: #ff6b00;
}

.counter__button--orange:hover:not(:active):not(:disabled) {
  background-color: #ff842b;
}

.counter__button--orange:active:not(:disabled) {
  background-color: #ed6300;
}

.counter__input {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 22px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  background-color: transparent;
}

.counter__input:focus {
  -webkit-box-shadow: inset 0 0 0 2px rgba(65, 182, 25, 0.6);
  box-shadow: inset 0 0 0 2px rgba(65, 182, 25, 0.6);
}